/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .logo{
        width: 10% !important;
    }
    .ui-icon-home{
      width: 3% !important;
      margin-left: 58% !important;
    }
    .ui-icon-cart {
      width: 3% !important;
    }
    .ui-icon-search {
      width: 3% !important;
    }
    .ui-icon-menu{
      width: 3% !important;
    }
    .footerlogo{
      width: 15% !important;
    }
    .twitter{
      width: 3% !important;
      margin-left: 59% !important;
      margin-bottom: 3% !important;
    }
    .facebook{
      width: 3% !important;
      margin-bottom: 3% !important;
    }
    .text-normal{
    margin-left: 37% !important;
    }
    .ui-grid-solo{
      width: 321px !important;
      margin-left: 26% !important;
    }
    .editprofilelink{
      margin-left: 217px !important;
    }
    .regrest{
      margin-left: 379px !important;
      width: 25% !important;
    }
    .regsubmit{
      margin-left: 66px !important;
      width: 80% !important;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}
